<%= semantic_nested_form_for [:admin, @pessoa], url: (@pessoa.new_record? ? admin_pessoas_path : admin_pessoa_path(@pessoa)), method: (@pessoa.new_record? ? "post" : "put") do |f| %>
	
	<%= f.inputs "Dados" do %>
  		<%= f.input :name %>
    	<%= f.input :person_category, as: :select, label: "Categoria" %>
  		<%= f.input :register %>
      <li class="string input optional stringish" id="person_cpf_cnpj_input">
        <label class=" label">CPF/CNPJ
        </label>
        <label for="cpf_radio" style="font-weight: normal; ">
          CPF <input id="cpf_radio" type="radio" checked="checked" name="transient_radio_cpf"/>
        </label>
        <label for="cnpj_radio" style="font-weight: normal; ">
          CNPJ <input id="cnpj_radio" type="radio" name="transient_radio_cpf"/>
        </label>
      </li>
  		<%= f.input :cpf_cnpj, label: "-" %>
  		<%= f.input :company %>
  		<%= f.input :email %>
  		<%= f.input :phone %>
  		<%= f.input :cellphone %>
  		<%= f.input :state_register %>
  		<%= f.input :municipal_register %>
  		<%= f.input :enrollment %>
  		<%= f.input :activity_area %>
  		<%= f.input :voter_register %>
  		<%= f.input :addrress %>
  	<% end %>

	<%= f.inputs "Dados Bancários", :for => [:bank_data, f.object.bank_data || BankData.new] do |j| %>
		<%= j.input :bank_number %>
		<%= j.input :agency %>
		<%= j.input :account_number %>
		<%= j.input :operation_code %>
	<% end %>

  	<%= f.actions %>

<% end %>