<!DOCTYPE html>
<html>
<head>
  <title>VlawFinance</title>
  <script src='http://www.google.com/jsapi'></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
